@model StudentManagementSystem.Models.Department
@{
    ViewBag.Title = "Update";
}

<h2>Update Department</h2>

@using(Html.BeginForm("Update", "Department", FormMethod.Post, new { @class = "p-4 rounded shadow-lg bg-light" }))
    {
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(model => model.DepartmentName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
    </div>
    }