
@{
    ViewBag.Title = "ViewDetails";
}

<h2>Department Details</h2>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Department Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.DepartmentName</td>
            <td><a href="@Url.Action("GetDepartment","Department")">Back to List</a></td>
        </tr>
    </tbody>
</table>